<h1 class="text-primary">About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod ratione,
  mollitia autem molestiae quam veniam similique pariatur, architecto, dolorum
  omnis sint voluptates non fuga nulla incidunt voluptas aspernatur! Eaque,
  exercitationem!</p>