<h1>HOME</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vel eos
  accusamus quidem doloribus hic enim maiores reprehenderit saepe corporis
  distinctio laudantium cupiditate iste ipsum natus porro ab, ut ipsam.</p>

<h2>{{myText}}</h2>